# Public Client
NEXT_PUBLIC_PRIVY_APP_ID=cmtw01df801zb0ckzb3rhrlrw
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=fc4943d50331cbc696fede7bdd55d939

# Contract Addresses on Monad Testnet (Chain ID 10143)
NEXT_PUBLIC_MOCK_USDC_ADDRESS=0x7A13F0709937a85037028DBff016Fd2A73122F70
NEXT_PUBLIC_CLOB_ENGINE_ADDRESS=0x9Ef5459216E8Bf1f12618cb3FA795C71a4cC6BCE
NEXT_PUBLIC_AMM_FALLBACK_ADDRESS=0xE1D063B8Ef992dB7CDDEb77E9a6592844E75aBc3
NEXT_PUBLIC_FEE_REWARD_CONTROLLER_ADDRESS=0xAE5CD607f92bED8482422c10B7e85245eFc7f79E
NEXT_PUBLIC_MINING_REWARD_ADDRESS=0x131692bF40Fb489494A9b3D5982816DD5C67B589

# Envio HyperIndex GraphQL Endpoint
NEXT_PUBLIC_ENVIO_ENDPOINT=http://localhost:8080/v1/graphql
